<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Geography Markup Language (GML) - Documents</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/gml32-data</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-gml32-data-${version}</local-name>
        <title>GML Conformance Test Suite - Documents</title>
        <description>Validates GML instance documents.</description>
      </suite>
      <revision>
        <name>${version}</name>
        <status>Beta</status>
        <sources>
          <source>gml32-data/${spec-version}/ctl</source>
        </sources>
        <webdir>gml32-data/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
